<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" media="all"
           href="/static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="hero">
    <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
        <div class="social-icons">
        <img src="images/fb-png.png">
        <img src="images/tw-png.png">
        <img src="images/gp-png.png">

    </div>
        <div>
        <form id="login" class="input-group" method="post" th:action="@{/register}" role="form"/>
            <input type="email" class="input-field"  id="username" name="username" placeholder="Email"  required/>
            <input type="password" class="input-field"  id="passwor" name="password" placeholder="Enter Pass" required/>
            <input type="checkbox"  class="check-box"/><span>Rembember Pasword</span>
            <button type="submit" class=" btn btn-primary submit px-3 submit-btn">Log in</button>
            <br>
            <div th:if="${param.error}">
                <div class="alert-danger">Invalid Email and Password.</div>
            </div>
        </form>


<div>
        <form id="register" class="input-group" method="post" role="form" th:action="@{/register/save}" th:object="${user}">
            <input type="text" class="input-field" id="log" name="log" placeholder="Login" th:field="*{log}" required/>
            <p th:errors="*{log}" class="text-danger" th:if="${#fields.hasErrors('log')}"></p>

            <input type="email" class="input-field"  id="email" name="email" th:field="*{email}"  placeholder="Email Id" required/>
            <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>


            <input type="password" class="input-field" id="password" name="password"   th:field="*{password}" placeholder="Enter Pass" required/>
            <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
            <input type="checkbox"  class="check-box">
            <span>I agree to the terms & conditians</span>
            <button type="submit" class="form-control btn btn-primary submit px-3 submit-btn">Register</button>
        </form>

    </div>
    </div>
    </div>
    </div>
</div>

<script>
    var x=document.getElementById("login");
    var y=document.getElementById("register");
    var z=document.getElementById("btn");

    function register(){
        x.style.left="-400px";
        y.style.left="50px";
        z.style.left="110px";
    }
    function login(){
        x.style.left="50px";
        y.style.left="450px";
        z.style.left="0";
    }
</script>
</body>
</html>